*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <!-- web site nav bar --> */

p a{
    text-decoration: none;
    color: black;
}
.nav_Logo{
    width: 90px;
    height: 60px;
    color: gray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}
nav{
    background-color:black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 999;
}
.nav_head1{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 23px;
    color: gray;
    
    
}


.nav_head2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    top: 0;
    right: 0;
    gap: 20px;
    font-size: 23px;
    position: fixed;
    width: 250px;
    height: 100vh;
    z-index: 999;
    background-color: white;
    padding: 20px;
    display: none;
    color: gray;

}
.hover a{
    text-decoration: none;
    color: gray;

}
.hover a:hover{
    border-bottom: 3px solid rgb(215, 230, 10);
    color: gray;
    
    

}
.menubar{
    display: none;
    font-size: 35px;
}
/* <!-- web site nav bar --> */
.main h1{
    color: red;
    display: inline;
    border-bottom: 2px solid black;
    
}
.main{
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}
.gallery_main img{
    width: 400px;
    height: 450px;
    margin: 10px;
    border: 2px solid lightgray;
    opacity: 0.7;
    transition-duration: 1s;

}


.gallery_main{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    grid-template-columns: repeat(auto-fit,minmax(400px,450px));

}
.gallery_main img:nth-child(odd){
    opacity: 1;
}
.gallery_main img:nth-child(odd):hover{
    
    scale: 1.1;
}
.gallery_main img:nth-child(even):hover{
    opacity: 1;
}
/* side icons */
.xmark1,.xmark2{
    font-size: 35px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 78vh;
    padding: 5px;
    padding-bottom: 10px;

}
.xmark1 i,.xmark2 i{
    color:black;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    background-color: rgb(66, 189, 246);
}
.xmark1{
    position: fixed;
    top: 60vh;
    display: none;
    
}
/* side icons */




/* <!-- web site body part footer --> */
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: lightgray;
    padding: 20px;
    
}
.footer_social{
    width: 25%;
}
.footer_quicklink{
    width: 30%;
}
.footer_Contact{
    width: 30%;
}
.footer_social_icons{
    font-size: 40px;
   
}
.footer_social_icons i{
    padding: 10px;
    color: black;

}
.con_icon{
   display: flex;
    font-size: 20px;
   
}
.con_icon i{
    padding: 8px;
    color: black;
}
.con_icon a{
    text-decoration: none;

}
.footer_social_icons i:hover{
    color: rgba(210, 194, 13, 0.538);
}
.Copyright{
    text-align: center;
    font-size: 20px;
    background-color: lightgray;
    padding-bottom: 10px;
}




@media(max-width:800px){

    /* <!-- web site nav bar --> */
    .nav_head1 p{
        display: none;
    }
    .menubar{
        display: block;
    }
    /* <!-- web site nav bar --> */

    .gallery_main img{
        width: 85%;
        height: 400px;
        
    
    }
    .gallery_main{
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 10px;
        grid-template-columns: auto;
    
    }
    .gallery_main img:nth-child(odd){
        opacity: 0.7;
    }
    .gallery_main img:nth-child(odd):hover{
        opacity: 1;
        scale: 1.1;
    }
    .gallery_main img:nth-child(even):hover{
        scale: 1.1;
        opacity: 1;
    }
    



    .footer{
        flex-direction: column;
        
        
    }
    .footer_social{
        width: 100%;

    }
    .footer_quicklink{
        width: 100%;
        padding: 10px;
    }
    .footer_Contact{
        width: 100%;
    }
    .con_icon{
        padding: 0;

    }
}