*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p:hover{
    color: white;
}
p a{
    text-decoration: none;
    color: black;
}
button a{
    text-decoration: none;
    color: black;

}
/* <!-- web site nav bar --> */

.nav_Logo{
    width: 90px;
    height: 60px;
    color: gray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}
nav{
    background-color:black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 999;
}
.nav_head1{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 23px;
    color: gray;
    
    
}


.nav_head2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    top: 0;
    right: 0;
    gap: 20px;
    font-size: 23px;
    position: fixed;
    width: 250px;
    height: 100vh;
    z-index: 999;
    background-color: white;
    padding: 20px;
    display: none;
    color: gray;

}
.hover a{
    text-decoration: none;
    color: gray;

}
.hover a:hover{
    border-bottom: 3px solid rgb(215, 230, 10);
    color: gray;
    
    

}
.menubar{
    display: none;
    font-size: 35px;
}
/* <!-- web site nav bar --> */
/* <!-- web site body part cards --> */
.card_f img{
    width: 40%;
    height: 350px;
}

.card_f{
    width: 45%;
    height: 350px;
    display: flex;
    align-items: center;
    border: 2px solid gray;
    
    }
.card_content{
    width: 60%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: lightgrey;
    
}
.card_content button{
    padding: 8px 20px;
    background-color: rgba(255, 217, 0, 0.678);

}
.card_content button:hover{
    background-color: gray;

}
.cards{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 50px;
    
}
.card_content h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.card_f:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px 5px 10px rgba(0, 0, 0, 0.2), 5px -5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.2);
}
/* <!-- web site body part cards --> */
/* <!-- web site body part About us --> */

.aboutus{
    width: 100%;
    margin-top: 40px;
    background-color: lightgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.About_head{
    display: flex;
    justify-content: center;
    align-items:center ;
    justify-content: space-evenly;
    padding: 10px;
}
.About_ourwork,.About_ourstory{
    width: 300px;
}
.about_img{
    width: 400px;
    height: 400px;
    padding: 20px;
    
    
    border-radius: 50%;
}
.About_our{
    font-weight: bold;
}
.About_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.About_body p{
    text-align: left;
    border-bottom: 2px solid grey;
    padding-bottom: 5px;
    width: 600px;
    font-size: 16px;

}
/* side icons */
.xmark1,.xmark2{
    font-size: 35px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70vh;
    padding: 10px;

}
.xmark1 i,.xmark2 i{
    color: rgba(0, 0, 255, 0.858);
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    background-color: lightgray;
}
.xmark1{
    position: fixed;
    top: 53vh;
    display: none;
    
}
/* side icons */

/* <!-- web site body part About us --> */
/* <!-- web site body part footer --> */
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: lightgray;
    padding: 20px;
    
}
.footer_social{
    width: 25%;
}
.footer_quicklink{
    width: 30%;
}
.footer_Contact{
    width: 30%;
}
.footer_social_icons{
    font-size: 40px;
   
}
.footer_social_icons i{
    padding: 10px;
    color: black;

}
.con_icon{
   display: flex;
    font-size: 20px;
   
}
.con_icon i{
    padding: 8px;
    color: black;
}
.con_icon a{
    text-decoration: none;

}
.footer_social_icons i:hover{
    color: rgba(210, 194, 13, 0.538);
}
.Copyright{
    text-align: center;
    font-size: 20px;
    background-color: lightgray;
    padding-bottom: 10px;
}





@media(max-width:800px){
    /* <!-- web site nav bar --> */
    .nav_head1 p{
        display: none;
    }
    .menubar{
        display: block;
    }
    /* <!-- web site nav bar --> */
    /* <!-- web site body part cards --> */

    .cards{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
        margin-top: 30px;
        gap: 30px;
        
    }
    .card_f{
        width: 70%;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid gray;
        
        }
        .card_content{
            width: 100%;
        }
        .card_f img{
            padding: 5px;
            width: 80%;
            height: 350px;
        }

    /* <!-- web site body part cards --> */
    /* .aboutus{
        height: 1000px;
    } */

    .About_head{
        display: flex;
        flex-direction: column;
    }
    .About_body p{
        width: 80%;

    }
    .About_ourwork,.About_ourstory{
        width: 80%;
    }
    .footer{
        flex-direction: column;
        
        
    }
    .footer_social{
        width: 100%;

    }
    .footer_quicklink{
        width: 100%;
        padding: 10px;
    }
    .footer_Contact{
        width: 100%;
    }
    .con_icon{
        padding: 0;

    }


}